body {
  font-family: "Quicksand", sans-serif;
  background-color: #dde6ed;
}

form {
  text-align: center;
  display: inline;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

small {
  font-size: 12px;
  color: #27374d;
  text-align: center;
  display: block;
  margin: 5px auto;
}

.container {
  min-width: 320px;
}

.weather-container-wrapper {
  max-width: 550px;
  margin: 0 auto;
}

.weather-container {
  margin: 30px auto 0px auto;
  padding: 20px 10px;
  border-radius: 20px;
  text-align: center;
  color: #dde6ed;
}

.weather-container-day {
  background-color: #2e8bc0;
}

.weather-container-night {
  background-color: #27374d;
}

.search-element {
  margin: 10px 0 15px 0;
}

.location-button {
  display: inline-block;
  text-align: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  width: 25px;
  height: 25px;
  line-height: 100%;
}

@media screen and (max-width: 400px) {
  .location-button {
    font-size: smaller;
  }
}

.location-button:hover {
  opacity: 80%;
}

.location-button-day {
  color: #2e8bc0;
}

.location-button-night {
  color: #27374d;
}

.city-input {
  border: none;
  border-radius: 5px;
  background: #dde6ed;
  padding: 0 5px;
  margin: 10px 0;
  width: 250px;
  display: inline;
}

@media screen and (max-width: 400px) {
  .city-input {
    width: 60vw;
  }
}

.search-button {
  border: none;
  margin: none;
  display: inline;
  background: none;
  color: #dde6ed;
  transition: all 200ms ease-in-out;
}
.search-button:hover {
  opacity: 80%;
}

.today {
  margin: 0 3vw;
}

.temp-today {
  font-size: 80px;
  font-weight: 500;
}

.deg-toggle {
  font-size: 18px;
  font-weight: 500;
  position: absolute;
}

.active {
  color: #dde6ed;
  cursor: default;
  text-decoration: none;
  font-weight: bolder;
}

.inactive {
  color: #dde6ed;
  text-decoration: none;
}

.inactive:hover {
  text-decoration: underline;
  opacity: 80%;
}

.icon-today {
  font-size: 80px;
}

.info-button {
  font-size: 15px;
  border: none;
  background: none;
  color: #dde6ed;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.info-button:hover {
  opacity: 80%;
}
.more-info {
  position: relative;
  display: inline-block;
}
.more-info-text {
  width: 85px;
  font-size: 10px;
  position: absolute;
  padding: 0;
  visibility: hidden;
  background: none;
  color: #dde6ed;
  border: solid 1px #dde6ed;
  border-radius: 5px;
}

@media screen and (max-width: 620px) {
  .more-info-text {
    width: 12vw;
  }
}

.more-info-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.more-info:hover .more-info-text {
  visibility: visible;
}

.details-today {
  font-size: 17px;
  font-weight: 500;
}

.max-temp {
  font-weight: bold;
}

.future-forecast {
  font-size: 15px;
  margin: 0 15px 10px 15px;
}

.future-forecast-day {
  margin: 0 auto;
}

.future-forecast-max-temp {
  font-weight: bold;
}
.future-forecast-icon {
  font-size: 35px;
  padding: 10px 0 10px 0;
}

.git-link {
  color: #27374d;
}
